<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbie.security.mapper.SecurityMapper">
    <sql id="Menu_Column_List">
        m.id,m.title,m.parent_id,
        m.sort,m.status,m.route_path,
        m.route_name,m.component,m.remark,
        m.create_by,m.create_time,m.update_by,
        m.update_time,m.is_keep,m.type,
        m.is_hide,m.perm,m.icon,
        m.hide_children,m.iframe_link,m.is_outer,
        m.transition,m.fixed_tab
    </sql>
    <sql id="Role_Column_List">
        r.id,r.role_name,r.role_code,
        r.sort,r.status,r.home_path,
        r.remark,r.create_by,r.create_time,
        r.update_by,r.update_time
    </sql>
    <sql id="User_Column_List">
        u.id,u.dept_id,u.username,
        u.password,u.nick_name,u.avatar,
        u.home_path,u.phone,u.email,
        u.gender,u.status,u.remark,
        u.sort,u.create_by,u.create_time,
        u.update_by,u.update_time
    </sql>
    <insert id="insertAdminUser">
        insert into sys_user
            (username, password, nick_name, status, create_time)
        values (#{username}, #{password}, #{nickName}, '1', #{createTime})
    </insert>
    <update id="updateUserPasswordByUserId">
        update sys_user
        set password = #{password}
        where id = #{id}
    </update>
    <select id="selectUserByUsername" resultType="com.newbie.common.domain.entity.SysUser">
        select
        <include refid="User_Column_List"/>
        from sys_user u
        where username = #{username}
    </select>
    <select id="selectRoleListByUserId" resultType="com.newbie.common.domain.entity.SysRole">
        select
        <include refid="Role_Column_List"/>
        from sys_role r
        join sys_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}
        and r.status = '1'
        order by r.sort
    </select>
    <select id="selectMenuAll" resultType="com.newbie.common.domain.entity.SysMenu">
        SELECT
        <include refid="Menu_Column_List" />
        FROM sys_menu m
        WHERE type = '1'
        AND status = '1'
        order by sort
    </select>
    <select id="selectMenuListByUserId" resultType="com.newbie.common.domain.entity.SysMenu">
        SELECT
        <include refid="Menu_Column_List"/>
        FROM sys_menu m
        JOIN sys_role_menu rm
        ON m.id = rm.menu_id  AND m.status = '1'
        <if test="menuType != null and menuType != ''">
            AND m.type = #{menuType}
        </if>
        JOIN sys_user_role ur
        ON ur.role_id = rm.role_id AND ur.user_id = #{userId}
        join sys_role r on r.id = ur.role_id AND r.status = '1'
        ORDER BY m.sort
    </select>
    <select id="selectUserByUserId" resultType="com.newbie.common.domain.entity.SysUser">
        select
        <include refid="User_Column_List"/>
        from sys_user u
        where id = #{userId}
    </select>
    <select id="selectDeptByDeptId" resultType="com.newbie.common.domain.entity.SysDept">
        select * from sys_dept
        where id=#{deptId}
    </select>
</mapper>
