<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbie.system.mapper.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.newbie.common.domain.entity.SysDept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="ancestors" column="ancestors" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="leader" column="leader" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="tier" column="tier" jdbcType="INTEGER"/>
            <result property="homePath" column="home_path" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_name,
        parent_id,ancestors,sort,
        leader,phone,email,
        status,tier,home_path,
        remark,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
