<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbie.system.mapper.SysDictDataMapper">

    <resultMap id="BaseResultMap" type="com.newbie.common.domain.entity.SysDictData">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="typeId" column="type_id" jdbcType="VARCHAR"/>
            <result property="eleType" column="ele_type" jdbcType="VARCHAR"/>
            <result property="eleClass" column="ele_class" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="def" column="def" jdbcType="CHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id,t.label,t.value,
        t.type_id,t.ele_type,t.ele_class,
        t.status,t.def,t.sort,
        t.remark,t.create_by,t.create_time,
        t.update_by,t.update_time
    </sql>
    <!--    清除字典类型下的默认字典数据-->
    <update id="clearDefault">
        UPDATE sys_dict_data
        SET def = 'N'
        WHERE type_id = #{typeId}
          AND def = 'Y'
    </update>
    <!--    设置字典数据为默认字典数据-->
    <update id="setDefault">
        UPDATE sys_dict_data
        SET def = 'Y'
        WHERE id = #{id}
    </update>
    <!--    根据字典类型编码查询字典数据-->
    <select id="getDictDataListByTypeCode" resultType="com.newbie.common.domain.entity.SysDictData">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dict_data t
        JOIN sys_dict_type sdt
        ON t.type_id = sdt.id AND sdt.status = '1'
        WHERE sdt.type_code = #{typeCode,jdbcType=VARCHAR}
        AND t.status = '1'
    </select>
</mapper>
