<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbie.system.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.newbie.common.domain.entity.SysMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="routePath" column="route_path" jdbcType="VARCHAR"/>
        <result property="routeName" column="route_name" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isKeep" column="is_keep" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="CHAR"/>
        <result property="isHide" column="is_hide" jdbcType="CHAR"/>
        <result property="perm" column="perm" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="hideChildren" column="hide_children" jdbcType="CHAR"/>
        <result property="iframeLink" column="iframe_link" jdbcType="VARCHAR"/>
        <result property="isOuter" column="is_outer" jdbcType="CHAR"/>
        <result property="transition" column="transition" jdbcType="VARCHAR"/>
        <result property="fixedTab" column="fixed_tab" jdbcType="CHAR"/>
        <result property="ancestors" column="ancestors" jdbcType="VARCHAR"/>
        <result property="tier" column="tier" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,parent_id,
        sort,status,route_path,
        route_name,component,remark,
        create_by,create_time,update_by,
        update_time,is_keep,type,
        is_hide,perm,icon,
        hide_children,iframe_link,is_outer,
        transition,fixed_tab,ancestors,tier
    </sql>

</mapper>
