<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbie.system.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.newbie.common.domain.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="routePath" column="route_path" jdbcType="VARCHAR"/>
            <result property="routeName" column="route_name" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isKeep" column="is_keep" jdbcType="CHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="isHide" column="is_hide" jdbcType="CHAR"/>
            <result property="perm" column="perm" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="hideChildren" column="hide_children" jdbcType="CHAR"/>
            <result property="iframeLink" column="iframe_link" jdbcType="VARCHAR"/>
            <result property="isOuter" column="is_outer" jdbcType="CHAR"/>
            <result property="transition" column="transition" jdbcType="VARCHAR"/>
            <result property="fixedTab" column="fixed_tab" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,parent_id,
        sort,status,route_path,
        route_name,component,remark,
        create_by,create_time,update_by,
        update_time,is_keep,type,
        is_hide,perm,icon,
        hide_children,iframe_link,is_outer,
        transition,fixed_tab
    </sql>
    <sql id="T1_Column_List">
        t1.id,t1.title,t1.parent_id,
        t1.sort,t1.status,t1.route_path,
        t1.route_name,t1.component,t1.remark,
        t1.create_by,t1.create_time,t1.update_by,
        t1.update_time,t1.is_keep,t1.type,
        t1.is_hide,t1.perm,t1.icon,
        t1.hide_children,t1.iframe_link,t1.is_outer,
        t1.transition,t1.fixed_tab
    </sql>
    <select id="selectMenuList" resultMap="BaseResultMap">
        WITH RECURSIVE temp_t (<include refid="Base_Column_List" />) AS (
        SELECT <include refid="Base_Column_List" />
            FROM sys_menu
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="id == null">
                parent_id  = 0
            </if>
        </where>
        UNION
        SELECT <include refid="T1_Column_List" />
            FROM sys_menu t1
        INNER JOIN temp_t t2 ON t1.parent_id = t2.id
        )
        SELECT * FROM temp_t
        <where>
            <if test="title != null and title != ''">
                title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="routePath != null and routePath != ''">
                AND route_path LIKE CONCAT('%',#{routePath},'%')
            </if>
            <if test="component != null and component != ''">
                AND component LIKE CONCAT('%',#{component},'%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY sort
    </select>
</mapper>
